body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Sidebar Link Styling */
.active-link {
  background-color: #0d6efd !important; /* Active link color */
  color: #fff !important;
}

.inactive-link {
  color: #ddd !important;
  text-decoration: none;
}

/* Adjust padding and margins for a seamless layout */
/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
} */
